:root{--wp--preset--aspect-ratio--square: 1;--wp--preset--aspect-ratio--4-3: 4/3;--wp--preset--aspect-ratio--3-4: 3/4;--wp--preset--aspect-ratio--3-2: 3/2;--wp--preset--aspect-ratio--2-3: 2/3;--wp--preset--aspect-ratio--16-9: 16/9;--wp--preset--aspect-ratio--9-16: 9/16;--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--color--primary: #5344F4;--wp--preset--color--primary-accent: #e9e7ff;--wp--preset--color--primary-alt: #DEC9FF;--wp--preset--color--primary-alt-accent: #3d386b;--wp--preset--color--main: #1E1E26;--wp--preset--color--main-accent: #d4d4ec;--wp--preset--color--base: #fff;--wp--preset--color--secondary: #545473;--wp--preset--color--tertiary: #f8f7fc;--wp--preset--color--border-light: #E3E3F0;--wp--preset--color--border-dark: #4E4E60;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgb(6,147,227) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgb(252,185,0) 0%,rgb(255,105,0) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--gradient--purple: linear-gradient(135deg, #4D34FA, #ad34fa);--wp--preset--gradient--blue: linear-gradient(135deg, #0057FF, #31B5FF);--wp--preset--gradient--pink: linear-gradient(135deg, #FF007A, #FF81BD);--wp--preset--gradient--black: linear-gradient(135deg, #14111E, #4B4462);--wp--preset--gradient--heat: linear-gradient(135deg, #F32758, #FFC581);--wp--preset--font-size--small: clamp(.9rem, 0.9rem + ((1vw - 0.2rem) * 0.255), 1.05rem);--wp--preset--font-size--medium: clamp(1.2rem, 1.2rem + ((1vw - 0.2rem) * 0.766), 1.65rem);--wp--preset--font-size--large: clamp(1.5rem, 1.5rem + ((1vw - 0.2rem) * 1.447), 2.35rem);--wp--preset--font-size--x-large: clamp(1.875rem, 1.875rem + ((1vw - 0.2rem) * 1.745), 2.9rem);--wp--preset--font-size--x-small: clamp(.825rem, 0.825rem + ((1vw - 0.2rem) * 0.213), .95rem);--wp--preset--font-size--base: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.281), 1.165rem);--wp--preset--font-size--xx-large: clamp(2.25rem, 2.25rem + ((1vw - 0.2rem) * 2.553), 3.75rem);--wp--preset--font-family--primary: Mona Sans, sans-serif;--wp--preset--font-family--expanded: Mona Sans Expanded, sans-serif;--wp--preset--font-family--condensed: Mona Sans Condensed, sans-serif;--wp--preset--font-family--narrow: Mona Sans Narrow, sans-serif;--wp--preset--font-family--monospace: monospace;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--spacing--small: clamp(.5rem, 2.5vw, 1rem);--wp--preset--spacing--medium: clamp(1.5rem, 4vw, 2rem);--wp--preset--spacing--large: clamp(2rem, 5vw, 3rem);--wp--preset--spacing--x-large: clamp(3rem, 7vw, 5rem);--wp--preset--spacing--xx-large: clamp(4rem, 9vw, 7rem);--wp--preset--spacing--xxx-large: clamp(5rem, 12vw, 9rem);--wp--preset--spacing--xxxx-large: clamp(6rem, 14vw, 13rem);--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgb(255, 255, 255), 6px 6px rgb(0, 0, 0);--wp--preset--shadow--crisp: 6px 6px 0px rgb(0, 0, 0);--wp--preset--shadow--extra-large-dark: 0px 536px 150px 0px rgba(20, 17, 31, 0.00), 0px 343px 137px 0px rgba(20, 17, 31, 0.01), 0px 193px 116px 0px rgba(20, 17, 31, 0.05), 0px 86px 86px 0px rgba(20, 17, 31, 0.09), 0px 21px 47px 0px rgba(20, 17, 31, 0.10);--wp--preset--shadow--large-dark: 0px 219px 61px 0px rgba(20, 17, 31, 0.00), 0px 140px 56px 0px rgba(20, 17, 31, 0.01), 0px 79px 47px 0px rgba(20, 17, 31, 0.05), 0px 35px 35px 0px rgba(20, 17, 31, 0.09), 0px 9px 19px 0px rgba(20, 17, 31, 0.10);--wp--preset--shadow--medium-dark: 0px 66px 18px 0px rgba(20, 17, 31, 0.00), 0px 42px 17px 0px rgba(20, 17, 31, 0.01), 0px 24px 14px 0px rgba(20, 17, 31, 0.05), 0px 10px 10px 0px rgba(20, 17, 31, 0.09), 0px 3px 6px 0px rgba(20, 17, 31, 0.10);--wp--preset--shadow--small-dark: 0px 16px 4px 0px rgba(20, 17, 31, 0.00), 0px 10px 4px 0px rgba(20, 17, 31, 0.01), 0px 6px 3px 0px rgba(20, 17, 31, 0.05), 0px 3px 3px 0px rgba(20, 17, 31, 0.09), 0px 1px 1px 0px rgba(20, 17, 31, 0.10);--wp--preset--shadow--extra-large-light: 0px 536px 150px 0px rgba(20, 17, 31, 0.00), 0px 343px 137px 0px rgba(20, 17, 31, 0.01), 0px 193px 116px 0px rgba(20, 17, 31, 0.03), 0px 86px 86px 0px rgba(20, 17, 31, 0.04), 0px 21px 47px 0px rgba(20, 17, 31, 0.05);--wp--preset--shadow--large-light: 0px 219px 61px 0px rgba(20, 17, 31, 0.00), 0px 140px 56px 0px rgba(20, 17, 31, 0.01), 0px 79px 47px 0px rgba(20, 17, 31, 0.03), 0px 35px 35px 0px rgba(20, 17, 31, 0.04), 0px 9px 19px 0px rgba(20, 17, 31, 0.05);--wp--preset--shadow--medium-light: 0px 69px 19px 0px rgba(20, 17, 31, 0.00), 0px 44px 18px 0px rgba(20, 17, 31, 0.01), 0px 25px 15px 0px rgba(20, 17, 31, 0.03), 0px 11px 11px 0px rgba(20, 17, 31, 0.04), 0px 3px 6px 0px rgba(20, 17, 31, 0.05);--wp--preset--shadow--small-light: 0px 16px 5px 0px rgba(20, 17, 31, 0.00), 0px 10px 4px 0px rgba(20, 17, 31, 0.00), 0px 6px 4px 0px rgba(20, 17, 31, 0.02), 0px 3px 3px 0px rgba(20, 17, 31, 0.03), 0px 1px 1px 0px rgba(20, 17, 31, 0.03);--wp--preset--border-radius--xs: 0.25rem;--wp--preset--border-radius--sm: 0.5rem;--wp--preset--border-radius--md: 0.75rem;--wp--preset--border-radius--lg: 1.25rem;--wp--preset--border-radius--xl: 2rem;--wp--preset--border-radius--2-xl: 3rem;--wp--preset--border-radius--full: 100rem;--wp--custom--font-weight--thin: 100;--wp--custom--font-weight--extra-light: 200;--wp--custom--font-weight--light: 300;--wp--custom--font-weight--regular: 425;--wp--custom--font-weight--medium: 500;--wp--custom--font-weight--semi-bold: 600;--wp--custom--font-weight--bold: 700;--wp--custom--font-weight--extra-bold: 800;--wp--custom--font-weight--black: 900;--wp--custom--line-height--none: 1;--wp--custom--line-height--tight: 1.1;--wp--custom--line-height--snug: 1.2;--wp--custom--line-height--body: 1.5;--wp--custom--line-height--relaxed: 1.625;--wp--custom--line-height--loose: 2;}:root { --wp--style--global--content-size: 740px;--wp--style--global--wide-size: 1260px; }:where(body) { margin: 0; }.wp-site-blocks { padding-top: var(--wp--style--root--padding-top); padding-bottom: var(--wp--style--root--padding-bottom); }.has-global-padding { padding-right: var(--wp--style--root--padding-right); padding-left: var(--wp--style--root--padding-left); }.has-global-padding > .alignfull { margin-right: calc(var(--wp--style--root--padding-right) * -1); margin-left: calc(var(--wp--style--root--padding-left) * -1); }.has-global-padding :where(:not(.alignfull.is-layout-flow) > .has-global-padding:not(.wp-block-block, .alignfull)) { padding-right: 0; padding-left: 0; }.has-global-padding :where(:not(.alignfull.is-layout-flow) > .has-global-padding:not(.wp-block-block, .alignfull)) > .alignfull { margin-left: 0; margin-right: 0; }.wp-site-blocks > .alignleft { float: left; margin-right: 2em; }.wp-site-blocks > .alignright { float: right; margin-left: 2em; }.wp-site-blocks > .aligncenter { justify-content: center; margin-left: auto; margin-right: auto; }:where(.wp-site-blocks) > * { margin-block-start: var(--wp--preset--spacing--medium); margin-block-end: 0; }:where(.wp-site-blocks) > :first-child { margin-block-start: 0; }:where(.wp-site-blocks) > :last-child { margin-block-end: 0; }:root { --wp--style--block-gap: var(--wp--preset--spacing--medium); }:root :where(.is-layout-flow) > :first-child{margin-block-start: 0;}:root :where(.is-layout-flow) > :last-child{margin-block-end: 0;}:root :where(.is-layout-flow) > *{margin-block-start: var(--wp--preset--spacing--medium);margin-block-end: 0;}:root :where(.is-layout-constrained) > :first-child{margin-block-start: 0;}:root :where(.is-layout-constrained) > :last-child{margin-block-end: 0;}:root :where(.is-layout-constrained) > *{margin-block-start: var(--wp--preset--spacing--medium);margin-block-end: 0;}:root :where(.is-layout-flex){gap: var(--wp--preset--spacing--medium);}:root :where(.is-layout-grid){gap: var(--wp--preset--spacing--medium);}.is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}.is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}.is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}.is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}.is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}.is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}.is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}.is-layout-flex{flex-wrap: wrap;align-items: center;}.is-layout-flex > :is(*, div){margin: 0;}body .is-layout-grid{display: grid;}.is-layout-grid > :is(*, div){margin: 0;}body{background-color: var(--wp--preset--color--base);color: var(--wp--preset--color--main);font-family: var(--wp--preset--font-family--primary);font-size: var(--wp--preset--font-size--base);font-weight: 430;line-height: var(--wp--custom--line-height--body);--wp--style--root--padding-top: 0;--wp--style--root--padding-right: var(--wp--preset--spacing--medium);--wp--style--root--padding-bottom: 0;--wp--style--root--padding-left: var(--wp--preset--spacing--medium);}a:where(:not(.wp-element-button)){color: var(--wp--preset--color--main);text-decoration: underline;}h1, h2, h3, h4, h5, h6{font-family: var(--wp--preset--font-family--primary);font-weight: 600;line-height: var(--wp--custom--line-height--body);}h1{font-size: var(--wp--preset--font-size--x-large);line-height: var(--wp--custom--line-height--snug);}h2{font-size: var(--wp--preset--font-size--large);line-height: var(--wp--custom--line-height--snug);}h3{font-size: var(--wp--preset--font-size--medium);}h4{font-size: var(--wp--preset--font-size--base);}h5{font-size: var(--wp--preset--font-size--small);}h6{font-size: var(--wp--preset--font-size--x-small);}:root :where(.wp-element-button, .wp-block-button__link){background-color: var(--wp--preset--color--main);border-radius: 5px;border-width: 0;color: var(--wp--preset--color--base);font-family: inherit;font-size: var(--wp--preset--font-size--small);font-style: inherit;font-weight: 500;letter-spacing: inherit;line-height: inherit;padding-top: .6em;padding-right: 1em;padding-bottom: .6em;padding-left: 1em;text-decoration: none;text-transform: inherit;}:root :where(.wp-element-button:hover, .wp-block-button__link:hover){background-color: var(--wp--preset--color--main);color: var(--wp--preset--color--base);}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-primary-color{color: var(--wp--preset--color--primary) !important;}.has-primary-accent-color{color: var(--wp--preset--color--primary-accent) !important;}.has-primary-alt-color{color: var(--wp--preset--color--primary-alt) !important;}.has-primary-alt-accent-color{color: var(--wp--preset--color--primary-alt-accent) !important;}.has-main-color{color: var(--wp--preset--color--main) !important;}.has-main-accent-color{color: var(--wp--preset--color--main-accent) !important;}.has-base-color{color: var(--wp--preset--color--base) !important;}.has-secondary-color{color: var(--wp--preset--color--secondary) !important;}.has-tertiary-color{color: var(--wp--preset--color--tertiary) !important;}.has-border-light-color{color: var(--wp--preset--color--border-light) !important;}.has-border-dark-color{color: var(--wp--preset--color--border-dark) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-primary-background-color{background-color: var(--wp--preset--color--primary) !important;}.has-primary-accent-background-color{background-color: var(--wp--preset--color--primary-accent) !important;}.has-primary-alt-background-color{background-color: var(--wp--preset--color--primary-alt) !important;}.has-primary-alt-accent-background-color{background-color: var(--wp--preset--color--primary-alt-accent) !important;}.has-main-background-color{background-color: var(--wp--preset--color--main) !important;}.has-main-accent-background-color{background-color: var(--wp--preset--color--main-accent) !important;}.has-base-background-color{background-color: var(--wp--preset--color--base) !important;}.has-secondary-background-color{background-color: var(--wp--preset--color--secondary) !important;}.has-tertiary-background-color{background-color: var(--wp--preset--color--tertiary) !important;}.has-border-light-background-color{background-color: var(--wp--preset--color--border-light) !important;}.has-border-dark-background-color{background-color: var(--wp--preset--color--border-dark) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-primary-border-color{border-color: var(--wp--preset--color--primary) !important;}.has-primary-accent-border-color{border-color: var(--wp--preset--color--primary-accent) !important;}.has-primary-alt-border-color{border-color: var(--wp--preset--color--primary-alt) !important;}.has-primary-alt-accent-border-color{border-color: var(--wp--preset--color--primary-alt-accent) !important;}.has-main-border-color{border-color: var(--wp--preset--color--main) !important;}.has-main-accent-border-color{border-color: var(--wp--preset--color--main-accent) !important;}.has-base-border-color{border-color: var(--wp--preset--color--base) !important;}.has-secondary-border-color{border-color: var(--wp--preset--color--secondary) !important;}.has-tertiary-border-color{border-color: var(--wp--preset--color--tertiary) !important;}.has-border-light-border-color{border-color: var(--wp--preset--color--border-light) !important;}.has-border-dark-border-color{border-color: var(--wp--preset--color--border-dark) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-purple-gradient-background{background: var(--wp--preset--gradient--purple) !important;}.has-blue-gradient-background{background: var(--wp--preset--gradient--blue) !important;}.has-pink-gradient-background{background: var(--wp--preset--gradient--pink) !important;}.has-black-gradient-background{background: var(--wp--preset--gradient--black) !important;}.has-heat-gradient-background{background: var(--wp--preset--gradient--heat) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}.has-x-small-font-size{font-size: var(--wp--preset--font-size--x-small) !important;}.has-base-font-size{font-size: var(--wp--preset--font-size--base) !important;}.has-xx-large-font-size{font-size: var(--wp--preset--font-size--xx-large) !important;}.has-primary-font-family{font-family: var(--wp--preset--font-family--primary) !important;}.has-expanded-font-family{font-family: var(--wp--preset--font-family--expanded) !important;}.has-condensed-font-family{font-family: var(--wp--preset--font-family--condensed) !important;}.has-narrow-font-family{font-family: var(--wp--preset--font-family--narrow) !important;}.has-monospace-font-family{font-family: var(--wp--preset--font-family--monospace) !important;}.wp-block-image {
   position: relative;
   overflow: hidden;
}

:root{
  --wp-block-synced-color:#7a00df;
  --wp-block-synced-color--rgb:122, 0, 223;
  --wp-bound-block-color:var(--wp-block-synced-color);
  --wp-editor-canvas-background:#ddd;
  --wp-admin-theme-color:#007cba;
  --wp-admin-theme-color--rgb:0, 124, 186;
  --wp-admin-theme-color-darker-10:#006ba1;
  --wp-admin-theme-color-darker-10--rgb:0, 107, 160.5;
  --wp-admin-theme-color-darker-20:#005a87;
  --wp-admin-theme-color-darker-20--rgb:0, 90, 135;
  --wp-admin-border-width-focus:2px;
}
@media (min-resolution:192dpi){
  :root{
    --wp-admin-border-width-focus:1.5px;
  }
}
.wp-element-button{
  cursor:pointer;
}

:root .has-very-light-gray-background-color{
  background-color:#eee;
}
:root .has-very-dark-gray-background-color{
  background-color:#313131;
}
:root .has-very-light-gray-color{
  color:#eee;
}
:root .has-very-dark-gray-color{
  color:#313131;
}
:root .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background{
  background:linear-gradient(135deg, #00d084, #0693e3);
}
:root .has-purple-crush-gradient-background{
  background:linear-gradient(135deg, #34e2e4, #4721fb 50%, #ab1dfe);
}
:root .has-hazy-dawn-gradient-background{
  background:linear-gradient(135deg, #faaca8, #dad0ec);
}
:root .has-subdued-olive-gradient-background{
  background:linear-gradient(135deg, #fafae1, #67a671);
}
:root .has-atomic-cream-gradient-background{
  background:linear-gradient(135deg, #fdd79a, #004a59);
}
:root .has-nightshade-gradient-background{
  background:linear-gradient(135deg, #330968, #31cdcf);
}
:root .has-midnight-gradient-background{
  background:linear-gradient(135deg, #020381, #2874fc);
}
:root{
  --wp--preset--font-size--normal:16px;
  --wp--preset--font-size--huge:42px;
}

.has-regular-font-size{
  font-size:1em;
}

.has-larger-font-size{
  font-size:2.625em;
}

.has-normal-font-size{
  font-size:var(--wp--preset--font-size--normal);
}

.has-huge-font-size{
  font-size:var(--wp--preset--font-size--huge);
}

.has-text-align-center{
  text-align:center;
}

.has-text-align-left{
  text-align:left;
}

.has-text-align-right{
  text-align:right;
}

.has-fit-text{
  white-space:nowrap !important;
}

#end-resizable-editor-section{
  display:none;
}

.aligncenter{
  clear:both;
}

.items-justified-left{
  justify-content:flex-start;
}

.items-justified-center{
  justify-content:center;
}

.items-justified-right{
  justify-content:flex-end;
}

.items-justified-space-between{
  justify-content:space-between;
}

.screen-reader-text{
  border:0;
  clip-path:inset(50%);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
  word-wrap:normal !important;
}

.screen-reader-text:focus{
  background-color:#ddd;
  clip-path:none;
  color:#444;
  display:block;
  font-size:1em;
  height:auto;
  left:5px;
  line-height:normal;
  padding:15px 23px 14px;
  text-decoration:none;
  top:5px;
  width:auto;
  z-index:100000;
}
html :where(.has-border-color){
  border-style:solid;
}

html :where([style*=border-top-color]){
  border-top-style:solid;
}

html :where([style*=border-right-color]){
  border-right-style:solid;
}

html :where([style*=border-bottom-color]){
  border-bottom-style:solid;
}

html :where([style*=border-left-color]){
  border-left-style:solid;
}

html :where([style*=border-width]){
  border-style:solid;
}

html :where([style*=border-top-width]){
  border-top-style:solid;
}

html :where([style*=border-right-width]){
  border-right-style:solid;
}

html :where([style*=border-bottom-width]){
  border-bottom-style:solid;
}

html :where([style*=border-left-width]){
  border-left-style:solid;
}
html :where(img[class*=wp-image-]){
  height:auto;
  max-width:100%;
}
:where(figure){
  margin:0 0 1em;
}

html :where(.is-position-sticky){
  --wp-admin--admin-bar--position-offset:var(--wp-admin--admin-bar--height, 0px);
}

@media screen and (max-width:600px){
  html :where(.is-position-sticky){
    --wp-admin--admin-bar--position-offset:0px;
  }

  body .is-layout-grid {
    display: block;
  }

  body .is-layout-grid .wp-block-group {
    margin-bottom: 30px;
  }
}

:root :where(.wp-block-button.is-style-button-brand--2 .wp-block-button__link){background-color: var(--wp--preset--color--primary);color: var(--wp--preset--color--base);}
:root :where(.wp-block-button.is-style-button-light--3 .wp-block-button__link){background-color: var(--wp--preset--color--base);color: var(--wp--preset--color--main);}

.wp-block-columns{
  box-sizing:border-box;
  display:flex;
  flex-wrap:wrap !important;
}
@media (min-width:782px){
  .wp-block-columns{
    flex-wrap:nowrap !important;
  }
}
.wp-block-columns{
  align-items:normal !important;
}
.wp-block-columns.are-vertically-aligned-top{
  align-items:flex-start;
}
.wp-block-columns.are-vertically-aligned-center{
  align-items:center;
}
.wp-block-columns.are-vertically-aligned-bottom{
  align-items:flex-end;
}
@media (max-width:781px){
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{
    flex-basis:100% !important;
  }
}
@media (min-width:782px){
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{
    flex-basis:0;
    flex-grow:1;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis]{
    flex-grow:0;
  }
}
.wp-block-columns.is-not-stacked-on-mobile{
  flex-wrap:nowrap !important;
}
.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column{
  flex-basis:0;
  flex-grow:1;
}
.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column[style*=flex-basis]{
  flex-grow:0;
}

:where(.wp-block-columns){
  margin-bottom:1.75em;
}

:where(.wp-block-columns.has-background){
  padding:1.25em 2.375em;
}

.wp-block-column{
  flex-grow:1;
  min-width:0;
  overflow-wrap:break-word;
  word-break:break-word;
}
.wp-block-column.is-vertically-aligned-top{
  align-self:flex-start;
}
.wp-block-column.is-vertically-aligned-center{
  align-self:center;
}
.wp-block-column.is-vertically-aligned-bottom{
  align-self:flex-end;
}
.wp-block-column.is-vertically-aligned-stretch{
  align-self:stretch;
}
.wp-block-column.is-vertically-aligned-bottom,.wp-block-column.is-vertically-aligned-center,.wp-block-column.is-vertically-aligned-top{
  width:100%;
}
/*# sourceURL=http://jortigueras.local/wp/wp-includes/blocks/columns/style.css */
</style>
<style id="ollie-block-core-columns-inline-css">
/* Column
--------------------------------------------- */

.is-style-column-box-shadow {
	box-shadow: 0px 8px 40px -20px rgb(21 14 41 / 12%);
	transition: .4s ease;
}

.is-style-column-box-shadow:hover {
	box-shadow: 0px 12px 60px -20px rgb(21 14 41 / 16%);
}

/* Helper class to swap order on mobile */
@media (max-width: 781px) {
	.ollie-swap-order {
		flex-direction: column-reverse;
	}
	.ollie-row-reverse {
		flex-direction: row-reverse;
	}
}

/*# sourceURL=http://jortigueras.local/app/themes/ollie/assets/styles/core-columns.css */
</style>
<style id="wp-block-image-inline-css">
.wp-block-image>a,.wp-block-image>figure>a{
  display:inline-block;
}
.wp-block-image img{
  box-sizing:border-box;
  height:auto;
  max-width:100%;
  vertical-align:bottom;
}
@media not (prefers-reduced-motion){
  .wp-block-image img.hide{
    visibility:hidden;
  }
  .wp-block-image img.show{
    animation:show-content-image .4s;
  }
}
.wp-block-image[style*=border-radius] img,.wp-block-image[style*=border-radius]>a{
  border-radius:inherit;
}
.wp-block-image.has-custom-border img{
  box-sizing:border-box;
}
.wp-block-image.aligncenter{
  text-align:center;
}
.wp-block-image.alignfull>a,.wp-block-image.alignwide>a{
  width:100%;
}
.wp-block-image.alignfull img,.wp-block-image.alignwide img{
  height:auto;
  width:100%;
}
.wp-block-image .aligncenter,.wp-block-image .alignleft,.wp-block-image .alignright,.wp-block-image.aligncenter,.wp-block-image.alignleft,.wp-block-image.alignright{
  display:table;
}
.wp-block-image .aligncenter>figcaption,.wp-block-image .alignleft>figcaption,.wp-block-image .alignright>figcaption,.wp-block-image.aligncenter>figcaption,.wp-block-image.alignleft>figcaption,.wp-block-image.alignright>figcaption{
  caption-side:bottom;
  display:table-caption;
}
.wp-block-image .alignleft{
  float:left;
  margin:.5em 1em .5em 0;
}
.wp-block-image .alignright{
  float:right;
  margin:.5em 0 .5em 1em;
}
.wp-block-image .aligncenter{
  margin-left:auto;
  margin-right:auto;
}
.wp-block-image :where(figcaption){
  margin-bottom:1em;
  margin-top:.5em;
}
.wp-block-image.is-style-circle-mask img{
  border-radius:9999px;
}
@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none){
  .wp-block-image.is-style-circle-mask img{
    border-radius:0;
    -webkit-mask-image:url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
            mask-image:url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
    mask-mode:alpha;
    -webkit-mask-position:center;
            mask-position:center;
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
    -webkit-mask-size:contain;
            mask-size:contain;
  }
}

:root :where(.wp-block-image.is-style-rounded img,.wp-block-image .is-style-rounded img){
  border-radius:9999px;
}

.wp-block-image figure{
  margin:0;
}

.wp-lightbox-container{
  display:flex;
  flex-direction:column;
  position:relative;
}
.wp-lightbox-container img{
  cursor:zoom-in;
}
.wp-lightbox-container img:hover+button{
  opacity:1;
}
.wp-lightbox-container button{
  align-items:center;
  backdrop-filter:blur(16px) saturate(180%);
  background-color:#5a5a5a40;
  border:none;
  border-radius:4px;
  cursor:zoom-in;
  display:flex;
  height:20px;
  justify-content:center;
  opacity:0;
  padding:0;
  position:absolute;
  right:16px;
  text-align:center;
  top:16px;
  width:20px;
  z-index:100;
}
@media not (prefers-reduced-motion){
  .wp-lightbox-container button{
    transition:opacity .2s ease;
  }
}
.wp-lightbox-container button:focus-visible{
  outline:3px auto #5a5a5a40;
  outline:3px auto -webkit-focus-ring-color;
  outline-offset:3px;
}
.wp-lightbox-container button:hover{
  cursor:pointer;
  opacity:1;
}
.wp-lightbox-container button:focus{
  opacity:1;
}
.wp-lightbox-container button:focus,.wp-lightbox-container button:hover,.wp-lightbox-container button:not(:hover):not(:active):not(.has-background){
  background-color:#5a5a5a40;
  border:none;
}

.wp-lightbox-overlay{
  box-sizing:border-box;
  cursor:zoom-out;
  height:100vh;
  left:0;
  overflow:hidden;
  position:fixed;
  top:0;
  visibility:hidden;
  width:100%;
  z-index:100000;
}
.wp-lightbox-overlay .close-button{
  align-items:center;
  cursor:pointer;
  display:flex;
  justify-content:center;
  min-height:40px;
  min-width:40px;
  padding:0;
  position:absolute;
  right:calc(env(safe-area-inset-right) + 16px);
  top:calc(env(safe-area-inset-top) + 16px);
  z-index:5000000;
}
.wp-lightbox-overlay .close-button:focus,.wp-lightbox-overlay .close-button:hover,.wp-lightbox-overlay .close-button:not(:hover):not(:active):not(.has-background){
  background:none;
  border:none;
}
.wp-lightbox-overlay .lightbox-image-container{
  height:var(--wp--lightbox-container-height);
  left:50%;
  overflow:hidden;
  position:absolute;
  top:50%;
  transform:translate(-50%, -50%);
  transform-origin:top left;
  width:var(--wp--lightbox-container-width);
  z-index:9999999999;
}
.wp-lightbox-overlay .wp-block-image{
  align-items:center;
  box-sizing:border-box;
  display:flex;
  height:100%;
  justify-content:center;
  margin:0;
  position:relative;
  transform-origin:0 0;
  width:100%;
  z-index:3000000;
}
.wp-lightbox-overlay .wp-block-image img{
  height:var(--wp--lightbox-image-height);
  min-height:var(--wp--lightbox-image-height);
  min-width:var(--wp--lightbox-image-width);
  width:var(--wp--lightbox-image-width);
}
.wp-lightbox-overlay .wp-block-image figcaption{
  display:none;
}
.wp-lightbox-overlay button{
  background:none;
  border:none;
}
.wp-lightbox-overlay .scrim{
  background-color:#fff;
  height:100%;
  opacity:.9;
  position:absolute;
  width:100%;
  z-index:2000000;
}
.wp-lightbox-overlay.active{
  visibility:visible;
}
@media not (prefers-reduced-motion){
  .wp-lightbox-overlay.active{
    animation:turn-on-visibility .25s both;
  }
  .wp-lightbox-overlay.active img{
    animation:turn-on-visibility .35s both;
  }
  .wp-lightbox-overlay.show-closing-animation:not(.active){
    animation:turn-off-visibility .35s both;
  }
  .wp-lightbox-overlay.show-closing-animation:not(.active) img{
    animation:turn-off-visibility .25s both;
  }
  .wp-lightbox-overlay.zoom.active{
    animation:none;
    opacity:1;
    visibility:visible;
  }
  .wp-lightbox-overlay.zoom.active .lightbox-image-container{
    animation:lightbox-zoom-in .4s;
  }
  .wp-lightbox-overlay.zoom.active .lightbox-image-container img{
    animation:none;
  }
  .wp-lightbox-overlay.zoom.active .scrim{
    animation:turn-on-visibility .4s forwards;
  }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active){
    animation:none;
  }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .lightbox-image-container{
    animation:lightbox-zoom-out .4s;
  }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .lightbox-image-container img{
    animation:none;
  }
  .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .scrim{
    animation:turn-off-visibility .4s forwards;
  }
}

@keyframes show-content-image{
  0%{
    visibility:hidden;
  }
  99%{
    visibility:hidden;
  }
  to{
    visibility:visible;
  }
}
@keyframes turn-on-visibility{
  0%{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes turn-off-visibility{
  0%{
    opacity:1;
    visibility:visible;
  }
  99%{
    opacity:0;
    visibility:visible;
  }
  to{
    opacity:0;
    visibility:hidden;
  }
}
@keyframes lightbox-zoom-in{
  0%{
    transform:translate(calc((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position)), calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));
  }
  to{
    transform:translate(-50%, -50%) scale(1);
  }
}
@keyframes lightbox-zoom-out{
  0%{
    transform:translate(-50%, -50%) scale(1);
    visibility:visible;
  }
  99%{
    visibility:visible;
  }
  to{
    transform:translate(calc((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position)), calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));
    visibility:hidden;
  }
}
/*# sourceURL=http://jortigueras.local/wp/wp-includes/blocks/image/style.css */
</style>
<style id="ollie-block-core-image-inline-css">
/* Image
--------------------------------------------- */

.wp-block-image.alignleft {
	margin-bottom: var(--wp--preset--spacing--small);
}

.wp-block-image.alignright {
	margin-bottom: var(--wp--preset--spacing--small);
}

@media only screen and (max-width: 600px) {
	.is-layout-flow .wp-block-image.alignleft,
	.is-layout-flow .wp-block-image.alignright {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

html .is-layout-flex .wp-block-image {
	flex-shrink: 0;
}

.wp-block-image.is-style-rounded img,
.wp-block-image .is-style-rounded img {
	border-radius: 10px;
}

.wp-block-image.is-style-rounded-full img,
.wp-block-image .is-style-rounded-full img {
	border-radius: 1000px;
}

.is-style-media-boxed {
	background-color: var(--wp--preset--color--tertiary);
	padding: var(--wp--preset--spacing--large);
	border-radius: 5px;
}

.is-style-media-boxed img {
	box-shadow:
		1px 2px 2px hsl(233deg 38% 85% / 0.2),
		2px 4px 4px hsl(233deg 38% 85% / 0.2),
		4px 8px 8px hsl(233deg 38% 85% / 0.2),
		8px 16px 16px hsl(233deg 38% 85% / 0.2),
		16px 32px 32px hsl(233deg 38% 85% / 0.2);
}

.is-style-media-boxed figcaption {
	margin-bottom: calc(var(--wp--preset--spacing--small) * -1) !important;
}

.ollie-avatar-row > figure:not(:first-child) {
	margin-left: -10px !important;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--semi-bold);
}

ol,
ul {
	padding: 0;
}

ol:where(:not([class*="wp-block"])),
ol:where(.wp-block-list),
ul:where(:not([class*="wp-block"])),
ul:where(.wp-block-list) {
	padding-inline-start: var(--wp--preset--spacing--medium);
}

div[class*="wp-block-"] figcaption {
	color: var(--wp--preset--color--secondary);
	font-size: var(--wp--preset--font-size--x-small);
	margin-bottom: 0;
	margin-top: 20px;
	text-align: center;
}

img,
figure {
	max-width: 100%;
	height: auto;
}

/* Temporary fix for text-decoration-thickness in Firefox */
@-moz-document url-prefix() {
	a {
		text-decoration-thickness: .1rem !important;
	}
}

/* Standardize form styling
--------------------------------------------- */

input,
button,
textarea,
select {
	font: inherit;
}

input[type="button"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="text"],
textarea {
	-webkit-appearance: none;
	appearance: none;
}

input:not([type="submit"]):not([type="radio"]),
select,
textarea,
.wp-block-post-comments-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.wp-block-post-comments-form textarea {
	color: var(--wp--preset--color--main);
	border-radius: 5px;
	border: solid 1px color-mix(in srgb, var(--wp--preset--color--tertiary) 100%, var(--wp--preset--color--main) 20%);
	padding: .5em 1em;
	font-size: var(--wp--preset--font-size--small);
	background-color: #fff;
	box-shadow: 
		0 1px 2px rgba(0, 0, 0, 0.02),
		0 0.5px 1px rgba(0, 0, 0, 0.04);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
	outline-color: var(--wp--preset--color--main);
	outline-offset: 1px;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

select {
	-webkit-appearance: none;
	appearance: none;
	background: var(--wp--preset--color--base) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=) no-repeat;
    background-size: 16px;
    background-position: calc(100% - 12px) 50%;
	padding-right: 2.2em;
}

label {
	width: 100%;
	display: block;
}

::placeholder {
	color: var(--wp--preset--color--secondary);
	font-size: var(--wp--preset--font-size--small);
	opacity: 0.75;
}

/* Helper styles
---------------------------------------------------------------------------- */

a.more-link {
	display: block;
}

/* Inline code */
*:not(.wp-block-code) > code {
	background-color: var(--wp--preset--color--tertiary);
	padding: 3px 5px;
	position: relative;
	border-radius: 3px;
}

.wp-block-categories {
	position: relative;
}

/* Remove margin on term description on archive pages */
.wp-block-term-description p:last-child {
	margin-bottom: 0;
}

/* Remove last separator on post list */
.remove-border-and-padding .wp-block-post-template li:last-child .wp-block-separator {
	display: none;
}

/* Hide post meta div if no tags assigned */
.single .wp-block-group:has(> .post-meta:empty) {
	display: none;
}

.wp-block-group:empty:has(+ .comment-respond) {
	display: none;
}

.row-logos > figure {
	flex-shrink: 1 !important;
}

/* Sticky header */

body:not(.wp-admin) header:has(>.is-position-sticky) {
	position: sticky;
	top: calc( 0px + var( --wp-admin--admin-bar--height, 0px ) );
	z-index: 100;
}

/* Account for admin bar on mobile */

@media (max-width: 600px) {
	header:has(>.is-position-sticky) {
		top: 0;
	}
}

/* Mobile helper classes */

@media (max-width: 781px) {
	.ollie-hide-on-mobile {
		display: none;
	}

	.ollie-unstick-mobile {
		position: static;
	}

	header:has(>.ollie-unstick-mobile) {
		position: static;
	}
}

/* Table
--------------------------------------------- */

.wp-block-table table {
	background: var(--wp--preset--color--base);
	border-radius: 5px;
	border: solid 1px var(--wp--preset--color--border-light);
	font-size: var(--wp--preset--font-size--x-small);
}
.wp-block-table.is-style-stripes {
	border-bottom: none;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: var(--wp--preset--color--tertiary);
}

.wp-block-table td, 
.wp-block-table th,
.wp-block-table thead {
	border: none;
	border-bottom: solid 1px color-mix(in srgb, var(--wp--preset--color--border-light) 50%, var(--wp--preset--color--base) 5%);
}

.wp-block-table th,
.wp-block-table tfoot {
	text-align: left;
	background-color: color-mix(in srgb, var(--wp--preset--color--tertiary) 75%, var(--wp--preset--color--base) 5%);
}

.wp-block-table td, 
.wp-block-table th {
	padding: .8em 1em;
}

.wp-block-table tfoot {
	border-top: solid 1px var(--wp--preset--color--border-light);
}

.wp-block-table tfoot td {
	border-bottom: none;
}

.wp-block-cover .wp-block-cover__image-background {
    border: none;
    bottom: 0;
    box-shadow: none;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    object-fit: cover;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#footer-section .wp-block-cover__background,
.wp-block-cover .wp-block-cover__background, .wp-block-cover .wp-block-cover__gradient-background, .wp-block-cover-image .wp-block-cover__background, .wp-block-cover-image .wp-block-cover__gradient-background, .wp-block-cover-image.has-background-dim:not(.has-background-gradient):before, .wp-block-cover.has-background-dim:not(.has-background-gradient):before {
    bottom: 0;
    left: 0;
    opacity: .9;
    position: absolute;
    right: 0;
    top: 0;
}

.wp-block-cover {
    align-items: center;
    background-position: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 430px;
    overflow: hidden;
    overflow: clip;
    padding: 1em;
    position: relative;
}

.wp-block-cover .wp-block-cover__inner-container, .wp-block-cover-image .wp-block-cover__inner-container {
    color: inherit;
    position: relative;
    width: 100%;
}

.wp-block-image img {
    transition: transform 0.5s ease, filter 0.5s ease;
}

.wp-block-image:hover img {
    transform: scale(1.1);
}
:root :where(p.has-background ){padding: var(--wp--preset--spacing--small)}
:root :where(.wp-block-table > table){font-size: var(--wp--preset--font-size--small);}

.wp-block-table table {
	width: 100%
}
/**
 * Core styles: block-supports
 */
.wp-elements-7d2acb014ad894d8a5b08125901fbcf9 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--main);
}
.wp-container-core-navigation-is-layout-28c8f699 {
	gap: var(--wp--preset--spacing--small);
}
.wp-container-core-group-is-layout-b2891da8 {
	justify-content: space-between;
}
.wp-container-core-group-is-layout-247cbbfd > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-container-core-group-is-layout-f5f3bcb8 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-f5f3bcb8 > * + * {
	margin-block-start: var(--wp--preset--spacing--small);
	margin-block-end: 0;
}
.wp-container-core-buttons-is-layout-f2baa792 {
	gap: var(--wp--preset--spacing--small);
	justify-content: center;
}
.wp-container-core-group-is-layout-9f9a0e42 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-container-core-group-is-layout-9f9a0e42 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-9f9a0e42 > * + * {
	margin-block-start: 0px;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-c7b3064f > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-c7b3064f > * + * {
	margin-block-start: var(--wp--preset--spacing--small);
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-9366075c {
	justify-content: space-between;
}
.wp-container-core-column-is-layout-baeb3921 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-column-is-layout-baeb3921 > * + * {
	margin-block-start: var(--wp--preset--spacing--small);
	margin-block-end: 0;
}
.wp-container-core-columns-is-layout-010e51cd {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--x-large) var(--wp--preset--spacing--x-large);
}
.wp-container-core-group-is-layout-f9c26c94 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-container-core-group-is-layout-c7b3064f > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-c7b3064f > * + * {
	margin-block-start: var(--wp--preset--spacing--small);
	margin-block-end: 0;
}
.wp-container-core-buttons-is-layout-f906e9fc {
	justify-content: center;
}
.wp-container-core-group-is-layout-b96e8a90 > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-container-core-group-is-layout-f67bbb9b > .alignfull {
	margin-right: calc(0px * -1);
	margin-left: calc(0px * -1);
}
.wp-container-core-group-is-layout-f67bbb9b > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-f67bbb9b > * + * {
	margin-block-start: var(--wp--preset--spacing--small);
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-54b4cc33 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: var(--wp--preset--spacing--large);
}
.wp-container-core-group-is-layout-3458909d > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-container-core-group-is-layout-3458909d > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-3458909d > * + * {
	margin-block-start: var(--wp--preset--spacing--x-large);
	margin-block-end: 0;
}
.wp-container-core-buttons-is-layout-28c8f699 {
	gap: var(--wp--preset--spacing--small);
}
.wp-elements-8214245560f4aa13cb097309c81855a8 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--main-accent);
}
.wp-container-core-group-is-layout-dd41b91c {
	justify-content: space-between;
}
.wp-container-core-group-is-layout-503f8a9d {
	gap: 0;
	justify-content: space-between;
}
.wp-container-core-group-is-layout-9f20d9a6 > .alignfull {
	margin-right: calc(0px * -1);
	margin-left: calc(0px * -1);
}
.wp-container-core-group-is-layout-9f20d9a6 > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-9f20d9a6 > * + * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-columns-is-layout-2009bae8 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--x-large) var(--wp--preset--spacing--x-large);
}
.wp-container-core-group-is-layout-6e727f8e > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-elements-ab5a142465fb91ab5550ad4a81f40c32 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--main);
}
.wp-elements-f89e54a87e09ad25ba6ef7404bf88732 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--main);
}
.wp-container-core-social-links-is-layout-d893daad {
	gap: var(--wp--preset--spacing--small) var(--wp--preset--spacing--small);
	justify-content: flex-start;
}
.wp-container-core-columns-is-layout-28f84493 {
	flex-wrap: nowrap;
}
.wp-elements-027a1dcbb6e28e9badf2a853d3381519 a:where(:not(.wp-element-button)) {
	color: var(--wp--preset--color--secondary);
}
.wp-container-core-group-is-layout-1b11d160 {
	flex-wrap: nowrap;
	gap: var(--wp--preset--spacing--small);
}
.wp-container-core-group-is-layout-289c189c {
	gap: var(--wp--preset--spacing--small);
	justify-content: space-between;
}
.wp-container-core-group-is-layout-d3460c8d > .alignfull {
	margin-right: calc(var(--wp--preset--spacing--medium) * -1);
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
}
.wp-container-core-group-is-layout-d3460c8d > * {
	margin-block-start: 0;
	margin-block-end: 0;
}
.wp-container-core-group-is-layout-d3460c8d > * + * {
	margin-block-start: var(--wp--preset--spacing--large);
	margin-block-end: 0;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.animated:not(.o-anim-ready) {
	visibility: hidden;
	animation-play-state: paused;
	animation: none !important;
}

.animated { 
	visibility: visible; animation-play-state: running; 
}

span.badge {
    display: inline-block;
    background: #7155d7;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 3px;
    color: #FEFEFE;
    transition: transform 0.5s ease, filter 0.5s ease;

}

span.badge:hover {
    transform: scale(1.1);
}

#footer-section {
	background:url(../images/bg.jpg);
	background-size: cover;
	position: relative;
}

#footer-section .wp-block-cover__background {
	background-color: #7155d7;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    margin: 0 !important;
    max-width: unset;
	opacity: 0.8;
}

#footer-section .wp-block-columns {
	position: relative;
	z-index: 2;
}